<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<!-- changes from the defaults 懒加载配置，默认true懒加载 -->
		<setting name="lazyLoadingEnabled" value="false" />
		<!-- changes from the defaults 懒加载配置，按需加载，当调用时候加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="logImpl" value="SLF4J" />
	</settings>


</configuration>